:root {
  font-size: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #10101a;
  font-size: 1.5rem;
}

.App-container {
  min-width: 360px;
}